.icon.apple,
.icon.default {
  color: #424242;
}

.icon.android {
  color: #80d300;
}

.icon.windows {
  color: #00b0f4;
}

.icon.twitter {
  color: #4AABE7;
}

.icon.facebook {
  color: #415B94;
}

.icon.linkedin {
  color: #2E73AD;
}

.icon.google-plus {
  color: #CC5441;
}

.icon.instagram {
  color: #424242;
}